*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/zh.framework/.project
/zh.framework/.settings
/zh.framework/.classpath
/zh.user.api/.settings
/zh.user.api/target
/zh.user.api/.classpath
/zh.user.api/.project
/zh.ms.web.app.ide/.settings
/zh.ms.web.app.ide/target
/zh.ms.web.app.ide/.classpath
/zh.ms.web.app.ide/.project
/zh.ms.framework/.settings
/zh.ms.framework/.classpath
/zh.ms.framework/.project
/zh.ms.framework/.settings
/zh.ms.framework/target
/zh.ms.framework/.classpath
/zh.ms.framework/.project
/zh.ms.user.api/.settings
/zh.ms.user.api/.classpath
/zh.ms.user.api/.project
/zh.ms.web.admin.ide/.settings
/zh.ms.web.admin.ide/.classpath
/zh.ms.web.admin.ide/.project
/zh.ms.user.api/.project
/zh.ms.user.api/.settings
/zh.ms.user.api/.classpath
/zh.ms.web.admin.ide/.settings
/zh.ms.web.admin.ide/.classpath
/zh.ms.web.admin.ide/.project
/zh.ms.user.api/target
/zh.ms.web.admin.ide/.settings
/zh.ms.web.admin.ide/.classpath
/zh.ms.web.admin.ide/.project
/zh.ms.core.api/.classpath
/zh.ms.core.api/.project
/zh.ms.core.api/.settings/org.eclipse.core.resources.prefs
/zh.ms.core.api/.settings/org.eclipse.jdt.core.prefs
/zh.ms.core.api/.settings/org.eclipse.m2e.core.prefs
/zh.ms.core.api/target/classes/META-INF/MANIFEST.MF
/zh.ms.core.api/target/classes/META-INF/maven/zh.sw/zh.ms.user.api/pom.properties
/zh.ms.core.api/target/classes/META-INF/maven/zh.sw/zh.ms.user.api/pom.xml
/zh.ms.core.api/target/classes/application.yml
/zh.ms.core.api/target/classes/message_zh_CN.properties
/zh.sw.ms/.settings
/zh.sw.ms/.classpath
/zh.sw.ms/.project
/zh.sw.ms/.classpath
/zh.sw.ms/.project
/zh.sw.ms/.classpath
/zh.sw.ms/.project
/zh.sw.ms/.classpath
/zh.sw.ms/.project
/zh.sw.ms/zh.ms.web.admin.ide/target
/zh.sw.ms/zh.ms.framework/target
/zh.sw.ms/zh.ms.core.api/.settings
/zh.sw.ms/zh.ms.core.api/.classpath
/zh.sw.ms/zh.ms.core.api/.gitignore
/zh.sw.ms/zh.ms.core.api/.project
/zh.sw.ms/zh.ms/.settings
/zh.sw.ms/zh.ms/.classpath
/zh.sw.ms/zh.ms/.gitignore
/zh.sw.ms/zh.ms/.project
/zh.sw.ms/zh.ms.service/zh.ms.service.account.api/.gitignore
/zh.sw.ms/zh.ms.service/zh.ms.service.account.api/.project
/zh.sw.ms/zh.ms.service/zh.ms.service.account.api/.settings
/zh.sw.ms/zh.ms.service/zh.ms.service.account.api/target
/zh.sw.ms/zh.ms.service/zh.ms.service.account.api/.classpath
/zh.sw.ms/zh.ms/zh.ms.framework/.settings
/zh.sw.ms/zh.ms/zh.ms.framework/.classpath
/zh.sw.ms/zh.ms/zh.ms.framework/.gitignore
/zh.sw.ms/zh.ms/zh.ms.framework/.project
/zh.sw.ms/zh.ms/zh.ms.parent/.settings
/zh.sw.ms/zh.ms/zh.ms.parent/.classpath
/zh.sw.ms/zh.ms/zh.ms.parent/.gitignore
/zh.sw.ms/zh.ms/zh.ms.parent/.project
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/.project
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/.settings
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.registration/.settings
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.registration/.classpath
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.registration/.gitignore
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.registration/.project
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.config.center/.settings
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.config.center/.classpath
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.config.center/.gitignore
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.config.center/.project
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.registration/cmd/*.log
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.classpath
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.gitignore
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.project
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.settings/org.eclipse.core.resources.prefs
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.settings/org.eclipse.jdt.core.prefs
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.settings/org.eclipse.m2e.core.prefs
/zh.sw.ms/zh.ms/zh.ms.parent/zh.ms.infrastructure.parent/zh.ms.infrastructure.configuration/.settings
