<div class="TopTitle">
    <div class="left" data-dojo-attach-point="titleNode">

    </div>
    <div class="right" data-dojo-attach-point="rightNode">
        <div data-dojo-type="dijit/form/DropDownButton" data-dojo-props="class:'button'">
            <span>Tooltip Dialog</span>
            <div style="max-width:300px;" data-dojo-type="dijit/TooltipDialog" data-dojo-props="title:'Lorem Ipsum'">
                <button type="button" data-dojo-type="dijit/form/Button"  data-dojo-props="style:{border-style:none;}">Button</button>
                <button type="button" data-dojo-type="dijit/form/Button" data-dojo-props="style:{border-style:none;}">Button</button>
            </div>
        </div>
    </div>
</div>