<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
>

    <!-- account数据库配置 -->
    <!-- 这里多数据源,springBoot启动时需要指定一个默认的数据源，所以需要加primary="true",否则会出现数据源bean匹配失败错误 -->
    <bean id="accountDataSource" name="accountDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource" primary="true">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:~/.h2/zh_ds_account"/>
        <property name="username" value="sa"/>
        <property name="password" value="sa"/>
    </bean>


    <bean id="entityManagerFactory" name="accountEntityManagerFactory,entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          destroy-method="destroy">
        <property name="dataSource" ref="accountDataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
                <property name="showSql" value="true"/>
            </bean>
        </property>
        <property name="packagesToScan" value="zh.ms.persistence.contract"/>
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.hbm2ddl.auto" value="update"/>
            </map>
        </property>
    </bean>
    <bean id="transactionManager" name="accountTransactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--&lt;!&ndash; category数据库配置 &ndash;&gt;-->
    <!--<bean id="categoryDataSource" name="categoryDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="org.h2.Driver"/>-->
        <!--<property name="url" value="jdbc:h2:file:~/.h2/zh_ds_category"/>-->
        <!--<property name="username" value="sa"/>-->
        <!--<property name="password" value="sa"/>-->
    <!--</bean>-->

    <!--<bean id="categoryEntityManagerFactory" name="categoryEntityManagerFactory"-->
          <!--class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"-->
          <!--destroy-method="destroy">-->
        <!--<property name="dataSource" ref="categoryDataSource"/>-->
        <!--<property name="jpaVendorAdapter">-->
            <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
                <!--<property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>-->
                <!--<property name="showSql" value="true"/>-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="packagesToScan" value="zh.ms.persistence.contract.category"/>-->
        <!--<property name="jpaPropertyMap">-->
            <!--<map>-->
                <!--<entry key="hibernate.hbm2ddl.auto" value="update"/>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean id="categoryTransactionManager" name="categoryTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--<property name="entityManagerFactory" ref="categoryEntityManagerFactory"/>-->
    <!--</bean>-->
    <!--<tx:annotation-driven transaction-manager="categoryTransactionManager"/>-->
</beans>